.clearfix::after{
	content: "";
	display: block;
	clear:both;
}
.container{
	width:960px;	
	margin:38px auto;
	height:100%;
	padding:0;
}
#my-name{
	background-color: #4aaaa5;
	float:left;
	width:250px;
	height:90px;
	font-weight:bold;
}
#top-margin{
	overflow:hidden;
	width:960px;
	margin:auto;
	text-align:center;
}
.about-box{
	background:#ffffff;
	width:590px;
	line-height: 165%;
	float:left;
	margin:0 auto 38px auto;
	padding:20px 30px;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	border:solid #e1e1e1 1px;
	color:#777777;
}
.contact-box{
	background:#ffffff;
	width:590px;
	line-height: 165%;
	float:left;
	margin:0 auto 38px auto;
	padding:20px 30px;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	border:solid #e1e1e1 1px;
	color:#777777;
}
.portfolio-box{
	background:#ffffff;
	width:590px;
	line-height: 165%;
	float:left;
	margin:0 auto 38px auto;
	padding:20px 30px;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	border:solid #e1e1e1 1px;
	color:#b9a8a5;
}
.links{
	display:flex;
	justify-content:space-between;
	width:247px;
	float:right;
	text-align:center;
	margin-top: 30px;
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	font-size:18px;
}
#link1,#link2{
	border-right: 1px #e1e1e1 solid;
	padding:0 16px 0 0;
}
h1{
	font-size:30px;
	color:white;
	margin-top:30px;
}
.links a{
	float:right;
	text-decoration: none;
	color:#b9a8a5;
}
a:hover{
	text-decoration: underline;
}
header{
	background-color:#ffffff;
	border-bottom:solid #cccccc;
	font-family: 'Georgia', "Times", "Times New Roman", "serif";
}
footer{
	background-color:#666666;
	text-align:center;
	clear:both;
	padding-top:38px;
	border-top: solid #4aaaa5 5px;
	margin:0;
	height:95px;
}
body{
	background-image: url("../images/concrete-texture.png");
	font-color:#777777;
	margin:0;
	padding:0;
}
#pic{
	height:200px;
	width:200px;
	display:block;
	float:left;
	padding:0 10px 0 0px ;
}
h2{
	font-family: 'Georgia', "Times", "Times New Roman", "serif";
	font-weight:bold;
	color:#4aaaa5;
	font-size:188%;
	padding:10px;
}
hr{
	border:solid #dddddd 1.5px;
}
h3{
	font-family: 'Georgia', "Times", "Times New Roman", "serif";
	font-weight:bold;
	color:#4aaaa5;
	font-size:20px;
	padding:10px;
}
.con-links{
	float:right;
	width:210px;
	height:180px;
	border:solid #dddddd 1px;
	background: #ffffff;
	text-align: center;
	margin:0 auto;
	padding:10px 30px;
	font-family: 'Georgia', "Times", "Times New Roman", "serif";
	font-weight:bold;
	color:#4aaaa5;
	font-size:20px;
}
.icons{
	float:left;
	height:62px;
	width:62px;
	display:block;
	margin:auto;
	padding:34px 3px;
}
#submit{
	background:#4aaaa5;
	color:#ffffff;
	height:42px;
	width:116px;
	border:none;
	font-size:16px;
}
input{
	padding:0px 5px;
	width:578px;
	height:36px;
}
textarea{
	width:588px;
	height:198px;
}
.port-title{
	margin-top:136px;
	text-align:center;
	width:100%;
	background-color:#4aaaa5;
	padding:12px 0 18px 0;
	color:white;
	font-weight:normal;
	font-size:22px;
}
.pic1, .pic2, .pic3, .pic4, .pic5{
	width:274px;
	height:205px;
	display:block;
	margin:20px 0;
}
.pic1{
	background-image:url("../images/img1.jpg");
	float:left;
}
.pic2{
	background-image:url("../images/img2.jpg");
	float:right;
}
.pic3{
	background-image:url("../images/img3.jpg");
	float:left;
	margin:36px 0;
}
.pic4{
	background-image:url("../images/img4.jpg");
	float:right;
	margin:36px 0;
}
.pic5{
	background-image:url("../images/img5.jpg");
	float:left;
}